<form (ngSubmit)="onSubmit()">
  <table class="w-full" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="w-full">
          <mat-label>Name</mat-label>
          <input
            matInput
            [(ngModel)]="product.name"
            name="name"
            type="text"
            required
          />
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="w-full">
          <mat-label>Category</mat-label>
          <mat-select [(ngModel)]="product.category" name="category" required>
            @for (category of categories; track category) {
            <mat-option [value]="category.category_id">{{
              category.category_name
            }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </td>
    </tr>
  </table>
  <table class="w-full" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="w-full">
          <mat-label>Selling Price</mat-label>
          <input
            matInput
            [(ngModel)]="product.selling_price"
            name="selling_price"
            type="number"
            required
          />
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="w-full">
          <mat-label>Unit</mat-label>
          <mat-select [(ngModel)]="product.unit" name="unit" required>
            @for (unit of units; track unit) {
            <mat-option [value]="unit.value">{{ unit.viewValue }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </td>
    </tr>
  </table>

  <mat-form-field class="w-full">
    <mat-label>Description</mat-label>
    <textarea
      matInput
      [(ngModel)]="product.description"
      name="description"
      type="text"
      required
    ></textarea>
  </mat-form-field>

  <div class="flex justify-end my-2">
    <button type="submit" mat-raised-button color="primary">Save</button>
  </div>
</form>
